@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:wght@300&family=Merriweather:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&family=Nunito:wght@200&family=PT+Sans:ital@1&family=Poppins&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Nunito", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

body {
  font-family: var(--main-font);
  background: #000;
  color: #b8bccc;
}

iframe {
  align-self: center;
  width: 90%;
  height: 29rem;
  padding: 2rem 0rem 3rem 0rem;
}

.lower-box {
  height: 80%;
  background: #575a85;
}

.upper-box {
  height: 20%;
  width: 95%;
  margin-left: 2rem;
  padding: 2rem 0rem;
}

.info-display,
.ip-add-fiels {
  color: rgba(184, 188, 204, 0.5);
  font-family: Inter;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.po-card {
  width: 50%;
  scale: 0.9;
  height: 24.9375rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #575a85;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.po-card p {
  width: 90%;
  color: #b8bccc;
  font-family: Montserrat;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 2.5rem;
}


.map-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
  }
  
  .lat-long-info {
    width: 30%;
  }
  

#post-office-search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#po-cards-box {
  width: 93%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#search-post-office {
  width: 93%;
  scale: 0.92;
  height: 2rem;
  border-radius: 0.625rem;
  border: 2px solid #575a85;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

#search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-icon img {
  width: 1.3rem;
  height: 1.3rem;
  padding: 1rem;
}

#search-post-office input {
  border: none;
  outline: none;
  background-color: #000;
  color: #b8bccc;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 19.125rem;
}

#post-offices-nearby {
  color: #b8bccc;
  text-align: center;
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 2rem;
}

#more-info-content {
  color: rgba(184, 188, 204, 0.5);
  font-family: Inter;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 4rem;
}

#more-info-heading {
  color: #b8bccc;
  text-align: center;
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 1rem;
  padding-bottom: 3rem;
}

#more-info-box {
  padding: 2rem 2rem 3rem 2rem;
}

#your-current-loaction-heading {
  color: #b8bccc;
  text-align: center;
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}




#co-ordinates {
    color: #fff;
    font-family: Inter;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#current-ip-heading {
  color: #b8bccc;
  font-weight: 700;
  line-height: normal;
  align-self: center;
  text-align: center;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
}

#ip-adress-info {
  width: 72.9375rem;
  color: rgba(184, 188, 204, 0.5);
  font-family: Montserrat;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 2rem 0rem;
}

#co-ordinates-display {
  color: #b8bccc;
}

#button-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

#button-content button {
    font-style: normal;
    line-height: normal;
    width: 21.5625rem;
    height: 4.1875rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    color: #b8bccc;
    font-family: Inter;
    font-size: 1.75rem;
  border: 2px solid #b8bccc;
  font-weight: 400;
  background: #575a85;
}



#main-img {
  width: 30.125rem;
  height: 28.875rem;
  padding: 3.5rem 3rem 6rem 3rem;
  scale: 0.8;
}

#post-office-app-box {
  width: 40.6875rem;
}

#post-office-app-content {
  color: #b8bccc;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem 0rem;
  width: 38rem;
}

#ip-map-box {
    width: 100%;
    height: 100%;
    background: #000;
  }
  
  #ip-address-info-fields {
    line-height: normal;
    padding-bottom: 5rem;
    color: rgba(184, 188, 204, 0.5);
    font-family: Inter;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 700;
  }

#post-office-app-heading {
  color: #575a85;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#main-container {
  display: flex;
  align-items: center;
}

#content-box-main {
  display: block;
}

#left-box {
    background: #000;
    width: 45%;
    padding: 2rem;
  }
  
  #right-box {
    background: #575a85;
    width: 55%;
    height: 50.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#content-box-after-click {
  display: none;
}
